
/**************  
GENERAL
**************/

/* Responsive design = fluid images with img max width, using % instead of pixels, media queries change layout with resolution at certain breakpoints */

body {
  font-family: 'Open Sans', sans-serif /* sets all font to default Google font unless specified different later or unavailable, which reverts to sans-serif */
}

#wrapper {
  max-width: 940px;
  margin: 0 auto; /* first value is above, second is below */
  padding: 0 5%;
}

/* removes hyperlink underlining */
a {
  text-decoration: none;
}  

img {
  max-width: 100%; /* images fill width of parent container */
}

h3 {
  margin: 0 0 1em 0;
}



/**************  
HEADING
**************/

header {
  float: left; /* no use in mobile view - for desktop view */
  margin: 0 0 30px 0; /* top; right; bottom; left */
  padding: 5px 0 0 0;
  width: 100%; /* since floated elements do not have set width */
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family:'Changa One', sans-serif; /* uses Google font linked from index.html, defaults to sans-serif if unavailable */
  margin: 15px 0;
  font-size: 1.75em; /* em is relative unit of measurement, equal to font size.  This is .75 times larger than default font size of 16 */
  font-weight: 400; /* h1 is bold by default */
  line-height:0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0; /* top; left and right; bottom */
  font-weight:normal;
}



/**************  
NAVIGATION
**************/

nav {
  text-align:center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}    

 /* block dsplay elements push others around; in-line elements do not; block/line is in line but preserving other block features, like width, height */  

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px; /* padding is clickable, to give fingers room on mobile */
}



/**************  
FOOTER
**************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both; /* clear spacing on both left and right sides */
  padding-top: 50px;
  color: #ccc;
}

/* classes and id are same but classes are not unique = can be used to select multiple elements */

.social-icon {  
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/**************  
PAGE: ART
**************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none; /* removes defalt bullet point list style */
}

#gallery li { /* selects list items inside gallery */
  float: left; /* makes list items appear side-by-side */
  width: 45%;
  margin: 2.5%; /* 45% + 45% + 2.5% x 4 margins = 100% */
  background-color: #f5f5f5; /* light gray background of list items */
  color: #bdc3c7; /* unlinked, non-anchor color */
}

#gallery li a p { /* style applied to pargraphs in anchor in list items in gallery */
  margin: 0;
  padding: 5%; /* margin can push images to unwanted places */
  font-size: 0.75em;
  color: #bdc3c7; /* all of these items, linked or not, will be grey */
}



/**************  
PAGE: ABOUT
**************/

.profile-photo {
  clear:both;
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 80%; 
}

/* border-radius makes rounded corners, 100% = circle */



/**************  
PAGE: CONTACT
**************/

form, form:before, form:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  max-width: 300px;
  margin: 60px auto 10px;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: sans-serif;
  color: #384047;
  font-size: 1em;
}

h4 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1em;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 92%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 1.2em;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}



/************** 
PAGE: DESIGN
**************/






/**************  
COLORS
**************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* green header */
header {
  background: #6ab47b; 
  border-color: #599a68;
}

/* nav background on mobile */
nav {
  background: #599a68; 
}

/* logo text */
h1, h2 {
  color: #fff; 
}

/* links */
a {
  color: #6ab47b; 
}

/* nav link */
nav a, nav a:visited {
  color: #fff; 
}

/* selected nav link and hover */
nav a.selected, nav a:hover {
  color: #32673f;
}












